.value {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 500px;
    height: 700px;
}

.marks {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

#re {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}