<div *ngIf="person==null">
  <p>No Data here</p>
</div>
<div id="re">
  <div *ngIf="person!=null" class="card text-white bg-secondary mb-3" style="max-width: 40rem;height: 50rem;">
    <div class="card-header">Mark Sheet</div>
    <div class="card-body">
      <div class="value">
        <p>FirstName:{{person.firstname}}</p>
        <p>LastName:{{person.lastname}}</p>
        <p>Year:{{person.year}}</p>
        <p>Marks:-</p>
        <div class="marks">
          <p>Mathematics:{{person.marks[0].mathematics}}</p>
          <p>Science:{{person.marks[0].science}}</p>
          <p>Social Science:{{person.marks[0].social}}</p>
        </div>
      </div>
    </div>
  </div>
</div>