.main{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
}
.main button{
    padding: 10px;
    margin: 20px;
}
.btn1{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(13, 98, 209);
}